@model Tournament.Models.GroupTable

@{
    Layout = null;
    ViewBag.Title = "GroupView";
}
    
<table>
    <tr>
        <th class="team">Team</th>
        <th class="stat">P</th>
        <th class="stat">GF</th>
        <th class="stat">GA</th>
        <th class="stat">GD</th>
        <th class="stat">W</th>
        <th class="stat">D</th>
        <th class="stat">L</th>
        <th class="stat">Pts</th>

    </tr>
    @foreach (var team in Model.Teams.OrderByDescending(t => t.Points).ThenBy(t => t.GoalsFor))
    {
        <tr>
            <td class="team">@Html.ActionLink(team.TeamName, "Index", "Team", new { id = team.TeamID }, null)</td>
            <td class="stat">@team.GamesPlayed</td>
            <td class="stat">@team.GoalsFor</td>
            <td class="stat">@team.GoalsAgainst</td>
            <td class="stat">@(team.GoalsFor - team.GoalsAgainst)</td>
            <td class="stat">@team.GamesWon</td>
            <td class="stat">@team.GamesDrawn</td>
            <td class="stat">@team.GamesLost</td>
            <td class="stat">@team.Points</td>
        </tr>
    }
    
    </table>