@model Tournament.Models.TournamentSummary
@{
    ViewBag.Title = "Tournament :: " + Model.TournamentName;   
}

@Html.ActionLink("Home", "Index", "Home")
&gt;
@Model.TournamentName

<h2>@Model.TournamentName</h2>

@foreach (var group in Model.GroupTables)
{
    <fieldset>

        <legend>@group.GroupName (@Html.ActionLink("Edit", "Index", "Group", new { id = group.GroupID }, null))</legend>
    
        @Html.Partial("GroupTable", group)
    
    </fieldset>
}

<br />
<br />

<fieldset>

    <legend>Add a new group</legend>

    @using (Html.BeginForm("Add", "Group"))
    {
        <p>
            Name: <input type="text" value="" name="Name" />
            <input type="hidden" name="TournamentID" value="@Model.TournamentID" />
            <input type="submit" value="Add" />
        </p>
    }

</fieldset>