@model Tournament.Models.GroupTable
@{
    ViewBag.Title = "Tournament :: " + Model.GroupName;
}

<div id="left">

    @Html.ActionLink("Home", "Index", "Home")
    &gt;
    @Html.ActionLink(Model.TournamentName, "Index", "Tournament", new { id = Model.TournamentID }, null)
    &gt;
    @Model.GroupName

    <h2>@Model.GroupName</h2>

    @Html.Partial("GroupView", Model)

</div>