@model Tournament.Models.GroupTable
@{
    ViewBag.Title = "Tournament :: " + Model.GroupName;
}

<div id="left">

    @Html.ActionLink("Home", "Index", "Home")
    &gt;
    @Html.ActionLink(Model.TournamentName, "Index", "Tournament", new { id = Model.TournamentID }, null)
    &gt;
    @Model.GroupName

    <h2>@Model.GroupName</h2>

    @Html.Partial("GroupView", Model)

</div>

<div id="right">

    <div class="box">
        
        <h2>@Model.TournamentName Groups</h2>

        <ul id="nav">
            @foreach (var group in Model.OtherGroups)
            {
                <li>
                    @Html.ActionLink(group.Value, "Index", "Group", new { id = group.Key }, null)
                </li>
            }
        </ul>

    </div>

</div>